.hero-area{
    background-image: url("../../images/hero.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-top: 160px;
    padding-bottom: 200px;
    position: relative;
    z-index: 1;
}

.hero-area-content{
    max-width: 620px;
    margin-left: 25px;
}

.hero-area-content h1{
    color: #28477D;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 70px;
    font-weight: 400;
    line-height: 1.42;
    margin-bottom: 15px;
}

.hero-area-content h1 span{
    font-weight: 900;
}


.hero-area-content p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 1.6;
    color: #28477D;
    margin-bottom: 38px;
}

.hero-area-content .hero-button .wave1{
    cursor: pointer;
    animation: ripple 2s linear infinite;
    border-radius: 50%;
    transition: .5s all;
}

@keyframes ripple{
    50% {
        box-shadow: 0 0 0 0px rgb(40 71 125 / 10%), 0 0 0 6px rgb(40 71 125 / 10%), 0 0 0 10px rgb(40 71 125 / 10%);
        transition: .3s all;
    }
    50% {
        transition: .5s all;
        box-shadow: 0 0 0 24px rgb(40 71 125 / 10%), 0 0 0 8px rgb(40 71 125 / 10%), 0 0 0 16px rgb(40 71 125 / 10%);
    }
    
}
